@media (min-width: 760px) and (max-width: 769px) {
    .menu__pictures{
        max-width: 650px;
    }
    .container__nav_top{
        display: none;
    }
    .container{
        justify-content: flex-start;
    }
    .about__transiption_text, .menu__transiption_text{
        max-width: 400px;
    }
    .about__transiption, .menu__transiption{
        justify-content: space-between;
    }
}

@media (min-width: 770px) and (max-width: 1310px) {
    .container__nav_top{
        display: none;
    }
    .menu__pictures{
        max-width: 650px;
    }
    .container{
        justify-content: flex-start;
    }
}

@media (min-width: 425px) and (max-width: 759px) {
    .menu__pictures{
        max-width: 395px;
    }
    .container__nav_top{
        display: none;
    }
    .container{
        justify-content: flex-start;
    }
    .about__transiption_text, .menu__transiption_text{
        max-width: 400px;
    }
    .about__transiption, .menu__transiption{
        justify-content: space-between;
        flex-direction: column;
    }
    .container__menu{
        max-height: 224px;
        max-width: 50px;
    }
    .about__title_block, .menu__title_block, .contact__title_block{
        display: none;
    }
    iframe{
        width: 100%;
        height: 395px;
    }
    .gmap{
        flex-direction: column;
        margin-top: 115px;
    }
    .logo_insta{
        max-width: 30px;
    }
    .logo_main{
        width: 50px;
    }
    .next {
        right: -7%;
        top: 45%;
    }
    .prev {
        left: -7%;
        top: 45%;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .menu__pictures{
        max-width: 328px;
    }
    .container__nav_top{
        display: none;
    }
    .container{
        justify-content: flex-start;
    }
    .about__transiption_text, .menu__transiption_text{
        max-width: 315px;
    }
    .about__transiption, .menu__transiption{
        justify-content: space-between;
        flex-direction: column;
    }
    .container__menu{
        max-height: 147px;
        max-width: 30px;
    }
    .about__title_block, .menu__title_block, .contact__title_block{
        display: none;
    }
    .gmap
        iframe{
            width: 100%;
            height: 312px;
            }
    .gmap{
        flex-direction: column;
        margin-top: 100px;
    }
    .logo_insta{
        max-width: 20px;
    }
    .logo_main{
        width: 45px;
    }
    .about__transiption_title, .menu__transiption_title{
        font-size: 40px;
    }
    .prev {
        left: -11%;
        top: 45%;
    }
    .next {
        right: -11%;
        top: 45%;
    }
    .about__transiption_title {
        flex-wrap: nowrap;
    }
    br {
        display: none;
    }
    .menu-icon {
        left: 1px;
        top: 65px;
    }
    .menu-icon__line-left, .menu-icon__line, .menu-icon__line-right {
        width: 20px;
        float: none;
    }
}