@media (min-width: 760px) and (max-width: 769px) {
    .menu__pictures{
        max-width: 650px;
    }
    .container__nav_top{
        display: none;
    }
    .container{
        justify-content: flex-start;
    }
    .about__transiption_text, .menu__transiption_text{
        max-width: 400px;
    }
    .about__transiption, .menu__transiption{
        justify-content: space-between;
    }
}

@media (min-width: 770px) and (max-width: 1310px) {
    .container__nav_top{
        display: none;
    }
    .menu__pictures{
        max-width: 650px;
    }
    .container{
        justify-content: flex-start;
    }
}

@media (min-width: 425px) and (max-width: 759px) {
    .menu__pictures{
        max-width: 395px;
    }
    .container__nav_top{
        display: none;
    }
    .container{
        justify-content: flex-start;
    }
    .about__transiption_text, .menu__transiption_text{
        max-width: 400px;
    }
    .about__transiption, .menu__transiption{
        justify-content: space-between;
        flex-direction: column;
    }
    .container__menu{
        max-height: 224px;
        max-width: 50px;
    }
    .about__title_block, .menu__title_block, .contact__title_block{
        display: none;
    }
    iframe{
        width: 395px;
        height: 395px;
    }
    .gmap{
        flex-direction: column;
        margin-top: 200px;
    }
    .logo_insta{
        max-width: 30px;
    }
    .logo_main{
        width: 50px;
    }
}