body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Sofia Sans", sans-serif;
  color: #fffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

header {
  margin: 0;
  padding: 0;
  max-height: 1000px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/mainbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__nav_top {
  display: flex;
}

.container__menu {
  max-width: 120px;
  max-height: 1000px;
  width: 120px;
  height: 882px;
  background-color: #B59571;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 40px 0;
}

.container__menu_logo {
  display: flex;
}

.container__menu_burger {
  display: flex;
  max-width: 72px;
  max-height: 45px;
}

.container__menu_social {
  display: flex;
  max-width: 72px;
  max-height: 45px;
}

.container__nav_top_list {
  text-align: end;
  vertical-align: center;
  white-space: nowrap;
}

.container__nav_top_list_reserv {
  padding: 10px 20px 10px 20px;
  background-color: #B59571;
}

.reserv_font {
  color: #fff;
}

.Sofia {
  display: inline-block;
  margin: 0 0 0 50px;
}

.Sofia:hover {
  background-color: #d89259;
}

.logo_main {
  width: 120px;
}

.logo_insta {
  max-width: 72px;
  max-height: 45px;
}

.container__rel {
  align-self: flex-end;
  margin: 0 0 90px 58px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.main_text {
  text-decoration: none;
  font-family: "Sofia Sans", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  white-space: nowrap;
}

.main_about__menu {
  display: flex;
  justify-content: center;
}

.container_about {
  display: flex;
  max-width: 1076px;
  justify-content: center;
  flex-direction: column;
}

.about__title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 228px;
  margin-top: 150px;
}

.about_title {
  display: inline-block;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.line {
  display: inline-block;
  max-height: 3px;
  max-width: 60px;
  width: 60px;
  height: 3px;
  border-top: #B59571 solid;
}

.about__transiption {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.about__transiption_title {
  display: inline-block;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}

.about__transiption_text {
  display: inline-block;
  max-width: 526px;
  max-height: 266px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.menu__title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 150px;
  margin-top: 150px;
}

.menu_title {
  display: inline-block;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.menu__transiption {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.menu__transiption_title {
  display: inline-block;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}

.menu__transiption_text {
  display: inline-block;
  max-width: 526px;
  max-height: 266px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.menu__main {
  display: flex;
  justify-content: center;
}

.menu__pictures {
  max-width: 950px;
}

.contact_title {
  display: inline-block;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.contact__title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 150px;
  margin-top: 150px;
}

.contact__line {
  display: inline-block;
  max-height: 3px;
  min-width: 60px;
  width: 60px;
  height: 3px;
  margin-left: 20px;
  border-top: #B59571 solid;
}

.gmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__us {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  background-color: #797878;
}

.contact__address, .contact__phone, .contact__work_time, .contact__first_time, .contact__second_time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.address, .phone, .time, .time2 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.contact__phone {
  justify-content: space-between;
  max-width: 140px;
}

.contact__work_time {
  justify-content: flex-start;
}

.contact__address {
  justify-content: space-between;
  min-width: 197px;
}

.contact__first_time, .contact__second_time {
  justify-content: space-between;
}

.gis__logo {
  max-width: 100px;
}

.footer__end {
  margin-top: 150px;
}

.footer__end_block {
  display: flex;
  justify-content: center;
  background-color: #797878;
}

.copy__font {
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
}

.inst_block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-flow: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */